<!-- app/templates/home/index.html -->

{% extends "layout.html" %}
{% block body %}

<nav>
    <ul>
        
        {% for user in some_user %}
        <li><font size="7" color="grey"><a href="/user/{{ user.id }}">{{ user.username }}</font></a></li>
        
        {% endfor %}
        
    </ul>
</nav>


<message>
    <ul>
        
        {% for message in some_message %}
        <li><font size="4" color="grey">{{ message.username }}:  {{ message.text }}</font></li>
        
        
        
        {% endfor %}
        
    </ul>
</message>
{% endblock %}

<!-- EXTEND layout.html and create the main chat window -->
